<%= form_for([ entry, comment ]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span><%= f.text_field :content, 
            placeholder: "Opiniate on this entry!" %></span>
  <span><%= f.submit 'Post',  class: "btn btn-primary" %></span>
<% end %>